{% props class = '' %}

{% set class = ('flex flex-col gap-5 ' ~ class)|tailwind_merge %}

<div {{ attributes }} class="{{ class }}">
    {% for stat in this.stats %}
        <twig:Ui:card class="flex">
            <div class="flex flex-col">
                <span class="text-md text-gray-600 dark:text-gray-400">{{ stat.label|capitalize }}</span>
                <span class="text-gray-700 dark:text-gray-300 text-2xl font-bold">{{ stat.value|number_format(0, ' ', ' ') }}</span>
            </div>
        </twig:Ui:card>
    {% endfor %}

    <twig:Ui:card class="max-h-72" title="Liste des vétérinaires">
        <twig:Ui:button
                href="https://fichiers-publics.agriculture.gouv.fr/dgal/ListesOfficielles/SPA7_VS_DEP.pdf"
                target="_blank">Télécharger</twig:Ui:button>
    </twig:Ui:card>
</div>
