{% props
    class = '',
    form = null,
    value = null,
    label = null,
    name = null,
    id = null,
    selected = false, %}

{% set class = ('appearance-none py-1.5 pr-8 pl-3 bg-white dark:bg-gray-900 text-base text-gray-900 dark:text-gray-100 sm:text-sm/6 focus:background-gray-100 dark:focus:background-gray-800 hover:background-gray-100 dark:hover:background-gray-800 ' ~ class)|tailwind_merge %}

<option
    {{ attributes }}
    class="{{ class }}"
    {% if value is not null %}value="{{ value }}"{% endif %}
    {% if selected %}selected{% endif %}
>
    {% block content %}
        {{ label ?? '' }}
    {% endblock %}
</option>
