{# templates/components/Ui/menu/sub.html.twig #}
{% props class = '' %}

{% set class = ('overflow-hidden ' ~ class)|tailwind_merge %}

<div
        {{ attributes }}
        data-menu-target="submenu"
        data-open="false"
        class="{{ class }} hidden"
>
    <ul class="flex flex-col gap-1 mt-2 pl-9">
        {% block content '' %}
    </ul>
</div>