{# templates/components/Ui/menu/sub.html.twig #}
{% props
    expanded = false,
    class = '',
%}

{% set class = ('overflow-hidden ' ~ class)|tailwind_merge %}

<div
        {{ attributes }}
        data-cisse--ui-bundle--menu-target="submenu"
        data-open="{{ expanded ? 'true' : 'false' }}"
        class="{{ class }}{{ expanded ? '' : ' hidden' }}"
>
    <ul class="flex flex-col gap-1 mt-2 pl-9">
        {% block content '' %}
    </ul>
</div>