{% props class = '', active = 1 %}

{% set class = ('w-full ' ~ class)|tailwind_merge %}

<div
  {{ attributes.without('x-data', 'x-id') }}
  x-data="{
  active: null,
  expanded(id) {
      this.active = this.active === id ? null : id
  }
 }"
  class="{{ class }}"
>
  {% block content '' %}
</div>