{% props class = '', active = 1 %}

{% set class = ('w-full ' ~ class)|tailwind_merge %}

<div
        {{ attributes }}
        data-controller="cisse--ui-bundle--accordion"
        class="{{ class }}"
>
    {% block content '' %}
</div>