{% props
  class = '',
  disabled = null, %}

{% set baseClass = 'relative flex w-full rounded-md text-base sm:text-sm/6 outline-1 -outline-offset-1 placeholder:text-gray-400 dark:placeholder:text-gray-600 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary dark:focus-within:outline-primary' %}
{% if disabled %}
  {% set baseClass = baseClass ~ ' cursor-not-allowed bg-gray-50 dark:bg-gray-950 text-gray-500 dark:text-gray-500 outline-gray-200 dark:outline-gray-800' %}
{% else %}
  {% set baseClass = baseClass ~ ' bg-white dark:bg-black text-gray-900 dark:text-gray-100 outline-gray-300 dark:outline-gray-700' %}
{% endif %}

{% set class = (baseClass ~ ' ' ~ class)|tailwind_merge %}

<div
  {{ attributes }}
  class="{{ class ?? '' }}"
>
  {% block content '' %}
</div>