{% props
  form = null,
  for = null,
  class = '',
  label = null,
  required = null,
%}

{% if form %}
  {% set for = for ?? field_name(form) %}
  {% set label = label ?? field_label(form) %}
  {% set required = required is not null ? required : form.vars.required %}
{% endif %}

  {% set class = ('block text-sm/6 font-medium text-gray-900 dark:text-gray-100 ' ~ class)|tailwind_merge %}

<label
  {{ attributes }}
  for="{{ for }}"
  class="{{ class }}"
>
  {% block content %}
    {{ label ?? '' }}
    {% if required %}
      <span class="text-red-500" aria-hidden="true">*</span>
    {% endif %}
  {% endblock %}
</label>