{% props
    class = ''
%}

{% set class = ('flex flex-col gap-2 mb-6 w-full ' ~ class)|tailwind_merge %}

{% set contentBlock %}{% block content '' %}{% endset %}

<div
        {{ attributes }}
        data-controller="cisse--ui-bundle--menu"
        class="{{ class }}"
>
    {{ contentBlock|raw }}
</div>