{# templates/components/responsive-list.html.twig #}
{#
    Responsive list wrapper that switches between desktop (table) and mobile (cards) views.

    Usage with slots (full control):
    <twig:ui:responsive-list breakpoint="md">
        <twig:block name="desktop">
            <twig:ui:table:selectable :items="items" :fields="fields">
                ...
            </twig:ui:table:selectable>
        </twig:block>

        <twig:block name="mobile">
            {% for item in items %}
                <twig:ui:responsive-list:item>
                    ...
                </twig:ui:responsive-list:item>
            {% endfor %}
        </twig:block>
    </twig:ui:responsive-list>

    Usage with sub-components:
    <twig:ui:responsive-list breakpoint="md">
        <twig:block name="desktop">
            <twig:ui:responsive-list:desktop :items="items" :fields="fields" showActions>
                {% block tbody %}...{% endblock %}
            </twig:ui:responsive-list:desktop>
        </twig:block>

        <twig:block name="mobile">
            <twig:ui:responsive-list:mobile>
                {% for item in items %}
                    <twig:ui:responsive-list:item>
                        {% block content %}...{% endblock %}
                        {% block actions %}...{% endblock %}
                    </twig:ui:responsive-list:item>
                {% endfor %}
            </twig:ui:responsive-list:mobile>
        </twig:block>
    </twig:ui:responsive-list>
#}
{% props
    class = '',
    breakpoint = 'md',
    loading = false
%}

{% set class = (class)|tailwind_merge %}

<div
    {{ attributes }}
    data-controller="cisse--ui-bundle--responsive-list"
    class="{{ class }}"
>
    {# Desktop view - hidden below breakpoint #}
    <div class="hidden {{ breakpoint }}:block">
        {% if loading %}
            <twig:ui:card>
                <twig:ui:skeleton:table rows="5" cols="4" />
            </twig:ui:card>
        {% else %}
            {% block desktop '' %}
        {% endif %}
    </div>

    {# Mobile view - visible below breakpoint #}
    <div class="{{ breakpoint }}:hidden">
        {% if loading %}
            <twig:ui:card>
                <twig:ui:skeleton:list items="5" showAvatar showSecondary showAction />
            </twig:ui:card>
        {% else %}
            {% block mobile '' %}
        {% endif %}
    </div>
</div>
