{% props
  toasts = [],
  position = 'top-right',
  topOffset = '1rem',
  class = '',
%}

{% set positionClasses = {
  'top-right': 'right-4',
  'top-left': 'left-4',
  'bottom-right': 'bottom-4 right-4',
  'bottom-left': 'bottom-4 left-4',
  'top-center': 'left-1/2 -translate-x-1/2',
  'bottom-center': 'bottom-4 left-1/2 -translate-x-1/2',
} %}

{% set isTopPosition = position starts with 'top' %}

<div
  {{ attributes }}
  class="{{ ('fixed z-9999 flex flex-col gap-2 w-full max-w-sm ' ~ positionClasses[position] ~ ' ' ~ class)|tailwind_merge }}"
  style="{{ isTopPosition ? 'top: ' ~ topOffset : '' }}"
  aria-live="polite"
  aria-atomic="false"
>
  {% for toast in toasts %}
    <twig:Ui:toast
      :message="toast.message ?? ''"
      :type="toast.type ?? 'info'"
      :title="toast.title ?? null"
      :duration="toast.duration ?? 5000"
      :closable="toast.closable ?? true"
    />
  {% endfor %}

  {% block content '' %}
</div>
